.channel-button {
  border: none;
  border-radius: 3px;
  background-color: #32323870;
  color: white;
  margin: 2px 2px 2px 8px;
  textAlign: left;
  height: 25px;
  width: 100px;
    cursor: pointer;
}

#messages {
  padding-right: 5px;
  width: 150px;
}
