.channel-button {
  border: none;
  border-radius: 3px;
  background-color: #323238;
  color: white;
  margin: 2px 2px 2px 8px;
  text-align: left;
  height: 25px;
  width: 100px;
}

#messages {
  padding-right: 5px;
  width: 150px;
}
