#create-server {
    border: none;
    border-radius: 3px;
    background-color: #1714635a;
    color: white;
    font-size: 16px;
    padding: 8px;
    width: 95%;
    backdrop-filter: blur(10px);
    cursor: pointer;
}

#server-form {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0;
    bottom: 200px;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 200px;
    background-color: #ffffff13;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(6px);
}

#server-submit {
    border: none;
    color: white;
    background-color: #514db8;
    border-radius: 3px;
    position: relative;
    height: 30px;
    width: 80px;
    cursor: pointer;
}

#server-submit:hover {
    background-color: gray;
}

#server-form-input {
    border: 1px solid white;
    background-color: #ffffff13;
    height: 30px;
}


