#signup {
    border: none;
    color: white;
    background-color: #514db8;
    border-radius: 3px;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    height: 30px;
    width: 80px;
    cursor: pointer;
}

#signup:hover {
    background-color: gray;
}

#signup-form {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0;
    bottom: 100px;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 400px;
    background-color: #ffffff13;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(6px);
}

#signup-submit {
    border: none;
    color: white;
    background-color: #514db8;
    border-radius: 3px;
    position: relative;
    height: 30px;
    width: 80px;
    cursor: pointer;
}

#signup-submit:hover {
    background-color: gray;
}

.signup-form-input {
    padding: 5px;
    border: 1px solid white;
    background-color: #ffffff13;
    height: 30px;
}
