#home {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

#servers {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  width: 150px;
}

#sidebar {
  border-right: 1px solid white;
  width: 180px;
  height: 1000px;
  padding-top: 20px;
}

#servers {
    margin-top: 10px;
}
