.server-button {
  border: none;
  border-radius: 3px;
  background-color: #2a2a3b53;
  color: white;
  margin: 2px;
  text-align: left;
  height: 30px;
  color: white;
  backdrop-filter: blur(10px);
    cursor: pointer;
}

#channels {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 150px;
  height: 100%;
    cursor: pointer;
}
