#main {
  width: 100%;
  height: 89vh;
  display: flex;
  flex-direction: column;
}
#messages {
  width: 97%;
  height: 1019px;
  padding: 0 23px;
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
}

#messages::-webkit-scrollbar {
  display: none;
}

.not-yours {
  width: 55%;
  margin-bottom: 40px;
  border-radius: 5px;
  padding: 5px 15px 10px;
  align-self: flex-start;
  background-color: #ffffff13;
  backdrop-filter: blur(10px);

}

.yours {
  width: 55%;
  margin-bottom: 40px;
  border-radius: 5px;
  padding: 5px 15px 10px;
  align-self: flex-end;
  background-color: #ffffff13;
  backdrop-filter: blur(10px);
}

.name-date {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.edit-delete {
    border: none;
    border-radius: 3px;
    background-color: #514db854;
    color: white;
    margin: 0 2px;
    height: 25px;
    width: 80px;
    cursor: pointer;
}

