#msg-form {
    border: 1px solid black;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#msg-input {
    border: none;
    width: 100%;
    padding: 5px;
    height: 30px;
}

#msg-input:focus {
    outline: none
}
