#msg-form {
  border: 1px solid white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff10;
  backdrop-filter: blur(10px);
  margin-left: 3px;
}

#msg-input {
  border: none;
  width: 100%;
  padding: 15px;
  height: 30px;
  background-color: #ffffff00;
  color: white;
  position: relative;

}

#msg-input:focus {
  outline: none;
}

#msg-btn {
    border: none;
    border-radius: 5px;
    background-color: #1714635a;
    color: white;
    font-size: 16px;
    padding: 8px;
    backdrop-filter: blur(10px);
    height: 40px;
    width: 80px;
    margin-right: 10px;
    cursor: pointer;
}
